* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    height: 100%;
}

h1, h2 {
    font-family: 'Roboto Serif', serif;
}

/* nav */

.nav__content {
    background: #252525 0% 0% no-repeat padding-box;
    opacity: 1;

    >.nav__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 17px 62px;
        height: 69px;
        list-style: none;
        >.logo__content {
            display: flex;
            align-items: center;
            letter-spacing: 0.32px;
            color: #FFFFFF;
            opacity: 1;
            font-size: 18px;
            font-weight: bold;

            >span {
                font-family: 'Roboto Serif', serif;
            }

            >.logo__img {
                width: 35px;
                height: 35px;
                margin-right: 5.98px;

                >img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        >.menu__content {
            >.menu__list {
                display: flex;
                align-items: center;
                gap: 20.62px;
                list-style: none;
            }
        }
    }
}


/* header */

header {
    height: 768px;

    >.welcome__block {
        background: transparent url('../assets/img/background-header.png') 0% 0% no-repeat padding-box;
        background-size: cover;
        background-position: center;
        height: 699px;
        display: flex;
        flex-direction: column;
        padding-top: 109px;
        align-items: center;

        >h1 {
            text-align: center;
            font-size: 48px;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;
            max-width: 486px;
            height: 118px;
            margin-bottom: 26px;
        }
    }
}


/* bath and groom */

.bathAndGroom__block {
    position: relative;
    display: flex;
    align-items: center;

    min-height: 768px;
    background: transparent url('../assets/img/dog-one.png') 0% 0% no-repeat padding-box;
    background-size: cover;

    >.bathAndGroom__service {
        position: absolute;
        max-width: 417px;
        padding-left: 62px;

        >h2 {
            font-size: 49px;
            letter-spacing: 0px;
            color: #3A342F;
            opacity: 1;
            white-space: nowrap;
            margin-bottom: 14px;
        }

        >p {
            color: #3A342F;
            font-size: 27px;
            margin-bottom: 45px;
        }

        >button {
            background: #3A342F 0% 0% no-repeat padding-box;
            border-radius: 44px;
            opacity: 1;
            letter-spacing: 0px;
            color: #F4F2F3;
            opacity: 1;
            padding: 23px 44px;
            outline: none;
            font-size: 27px;
            border: none;
            cursor: pointer;
            font-weight: bold;
        }
    }
}

/* hygiene */

.hygiene__block {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 768px;
    background: transparent url('../assets/img/dog-two.png') 0% 0% no-repeat padding-box;
    background-size: cover;

    >.hygiene__service {
        position: absolute;
        max-width: 417px;
        left: 52.53%;

        >h2 {
            font-size: 49px;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;
            margin-bottom: 14px;
        }

        >p {
            color: #FFFFFF;
            font-size: 27px;
            margin-bottom: 45px;
        }

        >button {
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border-radius: 44px;
            opacity: 1;
            letter-spacing: 0px;
            color: #000000;
            opacity: 1;
            padding: 23px 44px;
            outline: none;
            font-size: 27px;
            border: none;
            cursor: pointer;
            font-weight: bold;
        }
    }
}

/* logo */

.logo__block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    gap: 88px;

    >span {
        color: #FD6A9A;
        font-family: 'Roboto Serif', serif;
        font-size: 24px;
        font-style: italic;
        font-weight: 400;
        line-height: normal;
    }

    >.logo__group {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 88px;
    }
}


/* media query 750px */
@media (max-width: 750px) {

    /* nav mobile */
    .nav__content {
        >.nav__list {
            padding: 34.72px 45px 37.72px 45px;
            height: 166px;

            >.logo__content {
                font-size: 49px;

                >.logo__img {
                    width: 93.55px;
                    height: 93.55px;
                }
            }

            >.menu__content {
                >.menu__list {
                    >.link__instagram, .link__youtube {
                        display: none;
                    }

                    >.link__whatsapp {
                        width: 71px;
                        height: 71px;

                        >a {
                            >figure {
                                width: 100%;
                                height: 100%;

                                >img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }


    /* header */

    header {
        height: 1334px;

        >.welcome__block {
            height: 100%;
            background: transparent url('../assets/img/background-header-mobile.png') 0% 0% no-repeat padding-box;
            background-position: center top;

            >h1 {
                font-size: 65px;
                max-width: 658px;
                height: auto;
                margin-bottom: 70px;
            }

            >figure {
                width: 203px;
                height: 203px;

                >img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }


    /* bath and groom */

    .bathAndGroom__block {
        flex-direction: column;
        align-items: baseline;
        padding-top: 180px;
        height: 1334px;
        background: transparent url('../assets/img/dog-one-mobile.png') 0% 0% no-repeat padding-box;

        >.bathAndGroom__service {
            padding-left: 45px;
            max-width: 487px;

            >h2 {
                white-space: normal;
            }
        }
    }

    /* hygiene */

    .hygiene__block {
        flex-direction: column;
        align-items: baseline;
        padding-top: 180px;
        height: 1334px;
        background: transparent url('../assets/img/dog-two-mobile.png') 0% 0% no-repeat padding-box;

        >.hygiene__service {
            padding-left: 45px;
            max-width: 567px;
            left: 0;

            >h2 {
                white-space: normal;
            }
        }
    }

    /* logo */

    .logo__block {
        flex-direction: column;
        gap: 13px;

        >.logo__group {
            gap: 75px;
        }
    }

}